<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.UserMapper">

    <select id="getUserByTel" parameterType="com.test.entity.User" resultType="com.test.entity.User">
        select * from user where tel = #{tel}
    </select>
	
	<insert id="insertUser" parameterType="com.test.entity.User">
		insert into user(tel,password,name,createTime,sno,account) values(#{tel},#{password},#{name},#{createTime},#{sno},0)
	</insert>
	
	<update id="updateUserByUid" parameterType="com.test.entity.User">
		update user set password=#{password} where uid=#{uid} 
	</update>
	
	<select id="getAllUser"  resultType="com.test.entity.User">
        select * from user 
    </select>
	
	<select id="getUserByUid" resultType="com.test.entity.User">
        select * from user where uid = #{uid}
    </select>
    
    <select id="getUserBySno" parameterType="com.test.entity.User" resultType="com.test.entity.User">
        select * from user where sno = #{sno}
    </select>
    
    <update id="updateUserByTelandSno" parameterType="com.test.entity.User">
		update user set password=#{password} where tel=#{tel} and sno = #{sno}
	</update>
    
    <update id="addAccount" parameterType="com.test.entity.User">
		update user set account=#{account} where sno = #{sno}
	</update>   

	
	<select id="getAllUserByStatus"  resultType="com.test.entity.User">
        select * from user 
    </select>
    
   <update id="addAccountOne">
		update user set account=#{param1} where uid = #{param2}
	</update>
    
    
</mapper>